In [ ]:
1.
  *       Expression
  'hello' Value(String)
  -87.8   Value(Integer)
  -       Expression
  /       Expression
  +       Expression
  6       Value(Integer)

In [5]:
2. 
   # String is a Data Type while Variable is a container for storing data values of different data types.
   # String is immutable whereas Variable can take any values.

str

In [ ]:
3.
  # Integer is a datatype which is negative or positive values
  # String is anything within single quotes, double quotes or even triple quotes. It can be of any datatype like integer, float, boolean etc but enclosed with single, double and triple quotes
  # Float is numbers with decimal points.

In [ ]:
4.
  # An expression is any legal combination of symbols (like a variable, constants, and operators) representing a value. An expression must have at least one operand (variable or constant) and have one or more operators.After evaluating an expression, we get a value.

In [ ]:
5. 
   # Expression- Expressions always returns a value Functions are also expressions. Even a non returning function will still return None value, so it is an expression. Can print the result value.
   # Statement- A statement never returns a value cannot print any result Examples Of Python Statements: Assignment statements, conditional branching, loops, classes, import, def, try, except, pass, del etc

In [10]:
# 6. 
bacon = 22
bacon + 1

23

In [12]:
bacon   # Variable bacon contains 22 only as the increment operation done needs to be assigned to the variable for change of value of the variable

22

In [19]:
 #7.
 'spam' + 'spamspam'  # concatenation of two strings

'spamspamspam'

In [20]:
'spam' * 3    # spam will be multipled thrice

'spamspamspam'

In [ ]:
# 8.
    # eggs is valid variable name as it starts with a letter and contains different letters
    # But 100 is not a valid variable name as variables names should not start with numbers
    """A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
Variable names are case-sensitive (name, Name and NAME are three different variables).
The reserved words(keywords) cannot be used naming the variable"""

In [29]:
# 9. 
# int(), float() and str() are the 3 functions used to get integer, floating point number and string version of a value

In [22]:
# 10.
'I have eaten' + 99 + 'burritos.'  # 99 is an integer. We cannot concatenate a string and an integer

TypeError: ignored

In [26]:
'I have eaten'+ ' 99 ' + 'burritos.'  # Convert 99 into string to fix the error

'I have eaten 99 burritos.'